
<center><h1 style="color:#4169E1;font-size:22px;">User Details</h1></center>
<% @user_details.each do |user|%>
<table id="user_details">
<tr>
<td>User Name:</td>
<td><%=user.username%></td>
<tr>
<tr>
<td>Date Of Birth:</td>
<td><%=user.date_of_birth%></td>
</tr>
<tr>
<td>Age:</td>
<td><%=user.age%></td>
</tr>
<tr>
<td>Mail Id:</td>
<td><%=user.mail_id%></td>
</tr>
<tr>
<td>Qualification:</td>
<td><%=user.qualification%></td>
</tr>
<tr>
<td>Course:</td>
<td><%=user.course_required%></td>
</tr>
<tr><td><%= link_to 'Back To Login', :action=>"login" %></td><tr>
</table>
<%end%>
